<div id="tf-about">
   <div class="container">
   <div class="row">
      <div class="col-md-8">
         <div class="about-text">
            <div class="section-title" align="center">
               <h2>About <strong>Sushi.com</strong></h2><br>
               <div class="clearfix"></div>
            </div>
            <p class="intro">Looking for great sushi in a convenient downtown Spokane location? 
               Sushi.com has brought the world of fresh fish right to a Spokane tabletop! Whether it is Tuna from Hawaii or rare White Salmon from Korea the delicate transparent fillets are flown in fresh daily, artfully flaked and placed on a small pillar of cooked rice.
            </p>
            <br>
            <p class="intro">Sushi, both a raw or cooked version, is made before your eyes at the authentic Sushi Bar or delivered to your table in an artful presentation. There are countless varieties on the menu and the skillful Japanese sushi chef/owner will prepare a unique version just for you. Such was the birth of now standard items like the Harley-Davidson roll and even more unusual broiler melted Montana roll!</p>
            <br>
            <p class="intro">If sushi isn’t your green cup of tea, there are other excellent choices of Teriyaki, Sukiyaki and Tempura. Miso soup is only one of the pre-entrée offerings and others include edamame, soft shell crabs and Agedashi tofu.</p>
            <br>
            <p class="intro">The fine art of Japanese food arrangement shines at Sushi.com as each dish is creatively presented with simple style and design. Some distinctively fun containers add a whole entertainment component to eating good Japanese food. Try a one-pot-meal served in your own black kettle or a Bento Box with its individual compartments of different savory items. Best yet, for two or more order the "Boat" and receive a miniature Japanese sloop placed right at your table with its decks heaped with tasty delights!</p>
            <br>
            <p class="intro">If you like good fresh sushi, don’t miss Sushi.com!</p>
            <br>
         </div>
      </div>
        <div class="row">
                <div class="col-xs-4"><div class="mini-box"><img src="img/sushi-roll.jpg" class="img-responsive"></div></div>
                <div class="col-xs-4"><div class="mini-box"><img src="img/sushi-caviar.jpg" class="img-responsive"></div></div>
                <div class="col-xs-4"><div class="mini-box"><img src="img/sushi-wood2.jpg" class="img-responsive"></div></div>
      </div>
   </div>
</div>