    <div id="tf-clients" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Connect with <strong>us</strong></h2>
                    <div class="line">
                    </div>
                    <br>
                    <h2> 1 (509) 838 - 0630</h2>
                </div>
            </div>  
        </div>
    </div>