    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1>Welcome to <strong><span class="color">Sushi.com</span></strong></h1>

                <!-- <img src="img/sushi-logo.gif"> -->

                <p class="lead">Come in and visit one of Spokane, Washington's<br> 
                Finest Authentic Japanese Restaurants.<br> 
                Serving authentic Japanese Cuisine (Sushi, Teriyaki, etc.)</p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>