  <div class ="row"
    <div class="col-md-1">
       <div id="map" class="address">   
       </div>
    </div>

    <div class="col-md-4">
       <h2 class="address"> Address: </h2>
       <br>
       <p>430 West Main Ave.</p>
       <p>Spokane, Washington 99201</p>
       <h2 class="address"> Hours of Operation: </h2>
       <br>
       <p> Mon - Thur    11:00am - 9:00pm </p>
       <p> Fri                11:00am - 10:00pm </p>
       <p> Sat                12:00pm - 9:00pm </p>
       <p> Sun                12:00pm - 8:00pm </p>
    </div>
    </div>

