  <div class ="container">
  <div class ="row">
    
       <div id="map">   
       </div>
    
       <br>
    <div class="col-md-3">
       <h2> Address: </h2>
       <br>
       <p>430 West Main Ave.</p>
       <p>Spokane, Washington 99201</p>
       <h2> Store Hours: </h2>
       <br>
       <p> Mon - Thur    11:00am - 9:00pm </p>
       <p> Fri                11:00am - 10:00pm </p>
       <p> Sat                12:00pm - 9:00pm </p>
       <p> Sun                12:00pm - 8:00pm </p>
    </div>
    </div>
    </div>

