<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>www.mainsushi.com</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      #map {
        width: 500px;
        height: 400px;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
        var mapCanvas = document.getElementById('map');
        var mapOptions = {
          center: new google.maps.LatLng(47.6592, -117.4192),
          zoom: 18,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)

        var myLatLng = {lat: 47.6593, lng: -117.419};

        var marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Hello World!'
        });

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>


  </head>
  <body>

  <script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
var name = "#floatMenu";
var menuYloc = null;
 
$(document).ready(function(){
    menuYloc = parseInt($(name).css("top").substring(0,$(name).css("top").indexOf("px")))
    $(window).scroll(function () { 
        var offset = menuYloc+$(document).scrollTop()+"px";
        $(name).animate({top:offset},{duration:500,queue:false});
    });
});
</script>

    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Start Sushi!</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#tf-home" class="page-scroll">Home</a></li>
            <li><a href="#tf-about" class="page-scroll">About</a></li>
            <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <h1>Welcome to <strong><span class="color">Sushi.com</span></strong></h1>

                <!-- <img src="img/sushi-logo.gif"> -->

                <p class="lead">Come in and visit one of Spokane, Washington's<br> 
                Finest Authentic Japanese Restaurants.<br> 
                Serving authentic Japanese Cuisine (Sushi, Teriyaki, etc.)</p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
<div id="tf-about">
   <div class="container">
   <div class="row">
      <div class="col-md-8">
         <div class="about-text">
            <div class="section-title" align="center">
               <h2>About <strong>Sushi.com</strong></h2><br>
               <div class="clearfix"></div>
            </div>
            <p class="intro">Looking for great sushi in a convenient downtown Spokane location? 
               Sushi.com has brought the world of fresh fish right to a Spokane tabletop! Whether it is Tuna from Hawaii or rare White Salmon from Korea the delicate transparent fillets are flown in fresh daily, artfully flaked and placed on a small pillar of cooked rice.
            </p>
            <br>
            <p class="intro">Sushi, both a raw or cooked version, is made before your eyes at the authentic Sushi Bar or delivered to your table in an artful presentation. There are countless varieties on the menu and the skillful Japanese sushi chef/owner will prepare a unique version just for you. Such was the birth of now standard items like the Harley-Davidson roll and even more unusual broiler melted Montana roll!</p>
            <br>
            <p class="intro">If sushi isn’t your green cup of tea, there are other excellent choices of Teriyaki, Sukiyaki and Tempura. Miso soup is only one of the pre-entrée offerings and others include edamame, soft shell crabs and Agedashi tofu.</p>
            <br>
            <p class="intro">The fine art of Japanese food arrangement shines at Sushi.com as each dish is creatively presented with simple style and design. Some distinctively fun containers add a whole entertainment component to eating good Japanese food. Try a one-pot-meal served in your own black kettle or a Bento Box with its individual compartments of different savory items. Best yet, for two or more order the "Boat" and receive a miniature Japanese sloop placed right at your table with its decks heaped with tasty delights!</p>
            <br>
            <p class="intro">If you like good fresh sushi, don’t miss Sushi.com!</p>
            <br>
         </div>
      </div>
        <div class="row">
                <div class="col-xs-4"><div class="mini-box"><img src="img/sushi-roll.jpg" class="img-responsive"></div></div>
                <div class="col-xs-4"><div class="mini-box"><img src="img/sushi-caviar.jpg" class="img-responsive"></div></div>
                <div class="col-xs-4"><div class="mini-box"><img src="img/sushi-wood2.jpg" class="img-responsive"></div></div>
      </div>
   </div>
</div>

    <!-- Clients Section
    ==========================================-->
    <div id="tf-clients" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>Connect with <strong>us</strong></h2>
                    <div class="line">
                    </div>
                    <br>
                    <h2> 1 (509) 838 - 0630</h2>
                </div>
            </div>  
        </div>
    </div>

        <div class="col-md-6">
            <div id="map" class="address">   
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="address"> Address: </h2>
            <br>
            <p>430 West Main Ave.</p>
            <p>Spokane, Washington 99201</p>
            <h2 class="address"> Hours of Operation: </h2>
            <br>
            <p> Mon - Thur    11:00am - 9:00pm </p>
            <p> Fri                11:00am - 10:00pm </p>
            <p> Sat                12:00pm - 9:00pm </p>
            <p> Sun                12:00pm - 8:00pm </p>

        </div>



    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">   
        </div>
    </div>

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2015. Created by <a href="http://www.seattlekkf.com">SeattleKKF.com</a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="www.google.com"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="www.twitter.com"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

<div id="floatMenu">
   <ul>
      <li>
         <a onclick="toggle_visibility('soup');">Soup and Salad</a>
         <div class ="soju" id="soup" style='display:none;'>
            <table align="center">
               <tr>
                  <td>Miso Soup </td>
                  <td>1.25</td>
               </tr>
               <tr>
                  <td>Seaweed Salad </td>
                  <td>3.50</td>
               </tr>
               <tr>
                  <td>Green Salad </td>
                  <td>1.99</td>
               </tr>
               <tr>
                  <td>Cucumber Salad </td>
                  <td>3.50</td>
               </tr>
               <tr>
                  <td>Sashimi Salad </td>
                  <td>10.95</td>
               </tr>
               <tr>
                  <td>Sunomono (Shrimp or Octopus) </td>
                  <td>6.50</td>
               </tr>
            </table>
         </div>
      </li>
      <li>
         <a onclick="toggle_visibility('Appetizers');">Appetizers</a>
         <div class ="soju" id="Appetizers" style='display:none;'>
            <table align="center">
               <tr>
                  <td>Albacore Appetizer </td>
                  <td>9.95</td>
               </tr>
               <tr>
                  <td>Seaweed Salad </td>
                  <td>3.50</td>
               </tr>
               <tr>
                  <td>Green Salad </td>
                  <td>1.99</td>
               </tr>
               <tr>
                  <td>Cucumber Salad </td>
                  <td>3.50</td>
               </tr>
               <tr>
                  <td>Sashimi Salad </td>
                  <td>10.95</td>
               </tr>
               <tr>
                  <td>Sunomono (Shrimp or Octopus) </td>
                  <td>6.50</td>
               </tr>
            </table>
         </div>
      </li>
      <li>
         <a onclick="toggle_visibility('Lunch');">Lunch</a>
         <div class ="soju"  id="Lunch" style='display:none;'>
            <table align="center">
               <tr>
                  <td>1 Entree Lunch </td>
                  <td>8.50</td>
               </tr>
               <tr>
                  <td>2 Entree Lunch </td>
                  <td>9.50</td>
               </tr>
               <tr>
                  <td>Children's Lunch </td>
                  <td>5.95</td>
               </tr>
            </table>
         </div>
      </li>
      <li>
         <a onclick="toggle_visibility('Dinner');">Dinner</a>
         <div class ="soju"  id="Dinner" style='display:none;'>
            <table align="center">
               <tr>
                  <td>Chicken Teriyaki </td>
                  <td>9.95</td>
               </tr>
               <tr>
                  <td>Yakiniku</td>
                  <td>10.95</td>
               </tr>
               <tr>
                  <td>Tonkatsu</td>
                  <td>10.50</td>
               </tr>
               <tr>
                  <td>Chicken Katsu</td>
                  <td>10.50</td>
               </tr>
               <tr>
                  <td>Sukiyaki</td>
                  <td>14.95</td>
               </tr>
               <tr>
                  <td>Saba shioyaki</td>
                  <td>9.95</td>
               </tr>
               <tr>
                  <td>Tempura</td>
                  <td>10.50</td>
               </tr>
               <tr>
                  <td>Vegetarian Tempura</td>
                  <td>8.95</td>
               </tr>
               <tr>
                  <td>Salmon Teriyaki</td>
                  <td>10.50</td>
               </tr>
               <tr>
                  <td>Spicy B.B.Q Pork</td>
                  <td>10.95</td>
               </tr>
               <tr>
                  <td>Spicy Chicken</td>
                  <td>10.50</td>
               </tr>
               <tr>
                  <td>Hamachi Kama</td>
                  <td>10.95</td>
               </tr>
               <tr>
                  <td>Salmon Kama</td>
                  <td>9.95</td>
               </tr>
               <tr>
                  <td>Korean B.B.Q short rib</td>
                  <td>14.95</td>
               </tr>
            </table>
         </div>
      </li>
      <li>
         <a onclick="toggle_visibility('Donburi');">Donburi</a>
         <div class ="soju" id="Donburi" style='display:none;'>
            <table align="center">
               <tr>
                  <td>Chicken Teriyaki Donburi </td>
                  <td>8.95</td>
               </tr>
               <tr>
                  <td>Beef Teriyaki Donburi </td>
                  <td>8.95</td>
               </tr>
               <tr>
                  <td>Tempura Donburi </td>
                  <td>8.95</td>
               </tr>
               <tr>
                  <td>Unagi Donburi </td>
                  <td>14.95</td>
               </tr>
               <tr>
                  <td>Katsu Donburi</td>
                  <td>10.95</td>
               </tr>
               <tr>
                  <td>Tekka Don</td>
                  <td>14.95</td>
               </tr>
               <tr>
                  <td>Salmon Don</td>
                  <td>13.95</td>
               </tr>
               <tr>
                  <td>Chirashi</td>
                  <td>14.95</td>
               </tr>
               <tr>
                  <td>Hwedup Bob</td>
                  <td>16.95</td>
            </table>
         </div>
      </li>
      <li>
         <a onclick="toggle_visibility('Noodles');">Noodles</a>
         <div class ="soju" id="Noodles" style='display:none;'>
            <table align="center">
               <tr>
                  <td>Nabe Yaki Udon </td>
                  <td>8.50</td>
               </tr>
               <tr>
                  <td>Tempura Udon </td>
                  <td>8.95</td>
               </tr>
               <tr>
                  <td>Beef Udon </td>
                  <td>9.95</td>
               </tr>
               <tr>
                  <td>Seafood Udon</td>
                  <td>9.95</td>
               </tr>
               <tr>
                  <td>Yaki Soba </td>
                  <td>8.95</td>
               </tr>
               <tr>
                  <td>Zaru Soba </td>
                  <td>9.95</td>
               </tr>
            </table>
         </div>
      </li>
   </ul>
</div>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>

  </body>
</html>